@model SpotifyApp.Models.Spotify
@{
    ViewData["Title"] = "Your Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello World, welcome to the singnin page</p>
    <a class="btn btn-primary" href="@Model.getSigninUrl()" role="button"></a>Give Spotify Info</a> 
</div>

<div class="header event">
    <h1 class="title-header">Events Page</h1>
    <input type="button" class="btn btn-primary create-button" value="Sign into Spotify" onclick="@("window.location.href='" + @Url.Action("Create", "Events") + "'");" />
</div>

<div class = ""></div>


