@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello World, welcome to the singnin page</p>
</div>

<div class="header event">
    <h1 class="title-header">Events Page</h1>
    <input type="button" class="btn btn-primary create-button" value="Sign into Spotify" onclick="@("window.location.href='" + @Url.Action("Create", "Events") + "'");" />
</div>

<div class="Card-deck">
    <div class="col-sm-4">
                <div class="card text-center event-card" style="margin-bottom:25px">
                    <div class="card-body">
                        <h5 class="card-title">Bloop</h5>
                        <div class="description">
                            <p class="card-text"> This is the card info</p>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <h1>Date div</h1>
                        
                    </div>
                </div>
            </div>
</div>